<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sana"
    android:versionCode="8"
    android:versionName="2.1.0"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_PHONE_SUB_INFO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        tools:replace="android:icon, android:theme"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name" android:theme="@style/Theme.Large.NoActionBar">
        <meta-data android:name="local_build" android:value="@string/cfg_build_variant">
        </meta-data>
        <service
            android:name="org.sana.android.service.BackgroundUploader"
            android:enabled="true"
            android:icon="@drawable/ic_app_logo"
            android:label="@string/title_upload_service" />
        <!-- Content Providers -->
        <provider
            android:name=".android.db.impl.ModelContentProviderImpl"
            android:authorities="org.sana.provider"
            android:grantUriPermissions="true">
        </provider>
        <!-- Providers below here are deprecated -->
        <provider
            android:name="org.sana.android.db.ImageProvider"
            android:authorities="org.sana.provider.Image" />
        <provider
            android:name="org.sana.android.db.SoundProvider"
            android:authorities="org.sana.provider.Sound" />
        <provider
            android:name="org.sana.android.db.EducationResourceProvider"
            android:authorities="org.sana.provider.EducationResource" />
        <provider
            android:name="org.sana.android.db.BinaryProvider"
            android:authorities="org.sana.provider.Binary" />
        <provider
            android:name=".android.content.MessageQueueProvider"
            android:authorities="org.sana.provider.dispatch"
            />
        <!-- Activity section -->
        <activity
            android:name="org.sana.android.activity.PatientRunner"
            android:screenOrientation="portrait"
            android:label="@string/title_register_new_patient" >
            <intent-filter>
                <action android:name="org.sana.android.intent.action.RUN_PROCEDURE" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.patient" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.sana.android.intent.action.RUN_PROCEDURE" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.subject" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.PatientsList"
            android:label="@string/title_patient_list"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.patient" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.subject" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.patient" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.subject" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.ProceduresList"
            android:screenOrientation="portrait"
            android:label="@string/title_procedures_list" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.procedure" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.procedure" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.procedure" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.EncounterList"
            android:label="@string/title_savedprocedure_list"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.encounter" />
            </intent-filter>
            <intent-filter>
                6E3L;<action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.encounter" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.encounter" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.sana.android.activity.EncounterTaskList"
            android:label="@string/title_savedprocedure_list"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.task.encounterTask" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.task.encounterTask" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.task.encounterTask" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.NotificationList"
            android:label="@string/title_notifications_list"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.notification" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.notification" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.EducationResourceList"
            android:label="@string/title_help_list"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.info" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.info" />
            </intent-filter>
        </activity>
        <activity android:name="org.sana.android.activity.ProcedureSdImporter"
                  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.sana.android.activity.IMPORT_PROCEDURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.ProcedureRunner"
            android:label="@string/title_procedure_runner"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.procedure" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.sana.android.intent.action.RUN_PROCEDURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.procedure" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.encounter" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.procedure" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.encounterTask" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.sana.intent.action.EXECUTE_TASK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.procedure" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.NotificationViewer"
            android:label="@string/title_notification_viewer" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.notification" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.settings.Settings"
            android:label="@string/title_settings" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.settings" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.settings.NetworkSettings"
            android:label="@string/title_network_settings" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.settings" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.settings.ResourceSettings"
            android:label="@string/title_resource_settings" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.settings" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.settings.BasicSettings"
            android:label="@string/title_basic_settings" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.settings" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.Sana"
            android:label="@string/app_name" />
        <activity
            android:name="org.sana.android.activity.AuthenticationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/org.sana.observer" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sana.android.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <!-- Service section -->
        <service android:name=".android.service.impl.SessionService">
            <intent-filter>
                <action android:name="org.sana.service.SessionService.START"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.sana.service.SessionService.BIND_REMOTE"/>
            </intent-filter>
        </service>
        <service android:name=".android.service.impl.DispatchService">
            <intent-filter>
                <action android:name="org.sana.intent.action.CREATE"/>
                <action android:name="org.sana.intent.action.READ"/>
                <action android:name="org.sana.intent.action.UPDATE"/>
                <action android:name="org.sana.intent.action.DELETE"/>
                <data android:scheme="content"
                    android:host="org.sana.provider"
                    android:mimeType="vnd.android.cursor.item/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.sana.intent.action.READ"/>
                <data android:scheme="content"
                    android:host="org.sana.provider"
                    android:mimeType="vnd.android.cursor.dir/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.sana.intent.action.READ"/>
                <action android:name="org.sana.intent.action.UPDATE"/>
                <data android:scheme="package" android:host="org.sana.provider"/>
            </intent-filter>
        </service>
        <service android:name=".android.service.impl.ApplicationService"></service>
        <service android:name=".android.service.impl.InstrumentationService">
            <intent-filter>
                <action android:name="org.sana.android.intent.ACTION_RECORD_GPS"/>
                <data android:mimeType="vnd.android.cursor.item/org.sana.observation"/>
            </intent-filter>
        </service>
        <activity android:name=".android.activity.ObservationList" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.sana.encounter" />
            </intent-filter>
        </activity>
        <!-- Receiver section -->
        <!--
        <receiver android:name=".android.content.DispatchResponseReceiver">
            <intent-filter>
                <action android:name="org.sana.android.DISPATCH_RESPONSE"/>
                <data android:scheme="content"
                    android:host="org.sana.provider"
                    android:mimeType="vnd.android.cursor.item/*"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".android.net.SMSReceive" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>

